<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express Response JS</title>
  </head>
  <body>
    <div className="container">
      <h5>
        Hello Programmer what are going on today office.Today I am Stay my
        hometown in <%=name%>.
      </h5>
    </div>
  </body>
</html>
